
body {
    line-height: 1; /* межстрочный интервал*/
}

ol, ul {
    list-style: none; /*убирать маркировку*/
    
}

b, strong {
    font-weight: bold;
}

img {
    border: none; /*без рамки вокруг картинок*/
}

a {
    border: none;   /*без рамки вокруг ссылок*/
    text-decoration: none; /*без подчеркивания ссылок*/
}

a:hover {
    text-decoration: none;  
}
.wrapper{   /*обертка*/
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1170px;
}
/*___________блок header______________*/
header{

}
/*.ground_head{
    background: #363636;
    min-width: 1920px;
    margin: 0 auto;
}
*/
.header_head{
    background: #363636;
    background-size: 1920px;
    display: flex;
    justify-content: space-between;
    height: 52px ;
    align-items: center;
    max-width: 1170px;
    padding: 0 10px;
    margin-bottom: 20px;
}
.header_head2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_search-input{
    width: 621px;
    height: 48px;
    border-radius: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #7D868F;
    border: 1px solid #DEDEE2;
    border-radius: 8px;
    background: url(/electroplace/img2/Vector1.svg) no-repeat 10px 15px;
    padding: 5px 5px 5px 40px;
}
.header_link-tel{
    display: flex;

}
.header_nav_list{
    display: flex;
    column-gap: 30px;
}
.header_nav_list-item{
    background: #363636;
}
.header_nav_list a, .header_link-tel{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #363636;
    
}
.header_search-but{
    background: transparent;
    border: none;
}
.header_head3{
    display: flex;
    list-style: none;
    margin-top: 15px;
}
.header_menu{
    display: flex;
    background: #F1F5F7;
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    width: 1060px;
}
.header_menu-item a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding: 13px   ;
    
}
.header_menu-item a:hover{
    background: #DBEAF8;
}
.header_menu-item a:active{
    background: #99B0C5;
}
.header_menu-item-link{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #005AAB;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 17px;
    margin-right:15px ;
    padding-left: 10px;
    padding-right: 10px;
    height: 37px;
    
}
.header_menu-item-link a{
    color: #FFFFFF;
}   
.header_menu-item-link:hover{
    background: #198AF0;
}
.header_menu-item-link:active{
    background: #003769;
}
.header_search-input:hover{
    border: 1px solid #005AAB;
}
.header_search-input:active{
    border: 1px solid #005AAB;
}
.header_but-favorites:hover, .header_but-basket:hover{
    color: #005AAB
}
.header_but-favorites, .header_but-basket{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}
/*___________________________*/
.filtr{
    margin-top: 10px ;
}
.filtr fieldset{
border: none;
}
.filtr_price legend, .filtr_screen legend, .filtr_brands legend, .filtr_sim legend{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.place_price{
    display: flex;
    grid-gap: 10px;
    margin-top: 10px;
}
.begin_price, .before_price{
    width: 121px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #DEDEE2;
    

}
.range_wrap{
    padding: 21px 0 25px;
    position: relative;
}
.first_line{
    height: 2px;
    background: #B6BCC2;
    opacity: 0.3;
}
.second-line{
    height: 2px;
    margin-top: -2px;
    background: #005AAB;
    width: 78%;
}
.first-btn, .second-btn{
    height: 12px;
    width: 12px;
    border: none;
    background: #005AAB;
    border-radius: 8px;
    position: absolute;
    margin-top: -9px;
}
.second-btn{
    left: 76%;
}
.filtr_screen select{
    border: 1px solid #DEDEE2;
    width: 270px;
    height: 48px;
    border-radius: 8px;
    background: transparent;
}
.ful_filtr h2, .products h2, .lower_footer h2, .main_footer h2{
    display: none;
}
.filtr_brands_cont{
    display: flex;
    flex-direction: column;
}
.filtr_brands_cont label, .filtr_screen select, .filtr_sim label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
 /* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  /* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }
  .custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  .custom-checkbox>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }
  .custom-checkbox>input:checked+span::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
  }
  .custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }
  /* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  
  /* стили для радиокнопки, находящейся в фокусе */
  .custom-radio>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .custom-radio>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }
  
  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio>input:checked+span::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }
  
  /* стили для радиокнопки, находящейся в состоянии disabled */
  .custom-radio>input:disabled+span::before {
    background-color: #e9ecef;
  }
/*___________________________*/
.main{
}
aside{
    float: left;
    width: 270px;
}
/*___________________________*/
.products{
    overflow: hidden;
}
.products_list{
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 870px;
    justify-content:right;
    margin-left: -40px;
}

.products_list li{
    width: 270px;
    height: 443px;
    padding-top: 40px;
    border: 1px solid #DEDEE2;
    box-sizing: border-box;
    border-radius: 8px;
} 
.products_list li:hover{
    border: 1px solid #005AAB;
}
.products_list-item-link_figcap-name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.products_list li:hover .products_list-item-link_figcap-name{  
    color: #005AAB;
}
.products_list-item-link_figcap-price{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.products_list-item-link_figcap-price span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #7D868F;
}
/*____________________________*/
.bread_crumbs{
margin-top: 20px;
margin-bottom: 40px;

}
.bread_crumbs a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #7D868F;
    margin: 20px;
    margin-left: 0;
    
}
.bread_crumbs h1{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 37px;
color: #000000;
}
.sort h2{
display: none;
}
.sort{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DEDEE2;
}
.sort p:first-of-type{  
font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 26px;
color: #000000;
margin-right: 60px;
}
.sort p:nth-of-type(2){
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7D868F;
}
.sort_list{
    display: flex;
}
.sort_list button{
    background: transparent;
    border: none;
}
.sort_list button:hover{
    color: #005AAB;
}
.pages_nav{

}
.pages_nav ul{
    display: flex;
    align-items: center;
    
}
/*______________________________*/
.pages_nav ul li button:first-of-type, .pages_nav ul li button:last-of-type{
    background: transparent;
    border: none;
}
.pages_nav ul li:nth-of-type(2), .pages_nav ul li:nth-of-type(3), .pages_nav ul li:nth-of-type(4){
    border: 1px solid #DEDEE2;
    border-radius: 4px;
    width: 46px;
    height: 46px;
    text-align: center;
    margin: 10px;

}
.pages_nav ul li:nth-of-type(2):hover, .pages_nav ul li:nth-of-type(3):hover, .pages_nav ul li:nth-of-type(4):hover{
    background: darkblue;
    color: white;
}
.pages_nav ul li:nth-of-type(2) button:hover, .pages_nav ul li:nth-of-type(3) button:hover, .pages_nav ul li:nth-of-type(4) button:hover{
    background: darkblue;
    color: white;
}



/*___________________________*/
footer{
    
}
/*
.follow_ground{
    background:#F1F5F7 ;
    height: 152px;
    width: 1920px;
}
*/
.follow{
    background:#F1F5F7 ;
    height: 152px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}
.follow_inp{
    background: #FFFFFF;
    border: 1px solid #DEDEE2;
    box-sizing: border-box;
    border-radius: 8px;
    width: 440px;
    height: 48px;
}
.follow_inp:hover{
    border: 1px solid #005AAB;
}
.follow_inp:active{
    border: 1px solid #005AAB;
}
footer .follow button{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background: #005AAB;
    border-radius: 8px;
    width: 210px;
    height: 48px;
    padding: 15px;
    border: none;
}
footer .follow button:hover{
    background: #198AF0;
}
footer .follow button:active{
    background: #003769;
}
 .follow h2{
    display: none;
}
.follow h3, footer li{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #000000;

}
.follow_cont{
    display: flex;
    column-gap: 10px;
}
.main_footer{
    background: #333333;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.main_footer p, .main_footer ul a, .lower_footer{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.mainfooter_cont3{
    display: flex;
}
.mainfooter_cont3 a{
    padding: 10px 10px;
    margin: 30px 10px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}
.mainfooter_cont3 ul{
    display: flex;
}
.lower_footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: solid 1px #585858;
    background: #333333;
    margin: 0;
    color: #FFFFFF;
}
.mainfooter_cont3 li a:hover{
    background: #FFFFFF;
}
.mainfooter_cont3 li a img:hover{
    background: #005AAB;
}
.mainfooter_cont1 li a:hover, .mainfooter_cont2 li a:hover{
    color: #005AAB;
}
/*
.footer_gound{
    background: #333333;
    width: 1920px;
}
*/