/*общее и обертки*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    line-height: 1; /* межстрочный интервал*/
}

ol, ul {
    list-style: none; /*убирать маркировку*/
    
}
b, strong {
    font-weight: bold;
}
img {
    border: none; /*без рамки вокруг картинок*/
}
a {
    border: none;   /*без рамки вокруг ссылок*/
    text-decoration: none; /*без подчеркивания ссылок*/
}
a:hover {
    text-decoration: none;  
}
.wrapper{   /*обертка*/
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1170px;
}
/*___________блок header______________*/
.ground_head{
    background: #363636;
}
.header_head{
    background: #363636;
    width: 1920px;
    display: flex;
    justify-content: space-between;
    height: 52px ;
    align-items: center;
    max-width: 1170px;
    padding:0 10px;
    margin-bottom: 20px;
}
.header_head2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_search-input{
    width: 621px;
    height: 48px;
    border-radius: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #7D868F;
    border: 1px solid #DEDEE2;
    border-radius: 8px;
    background: url(/electroplace/img2/Vector1.svg) no-repeat 10px 15px;
    padding: 5px 5px 5px 40px;
}
.header_link-tel{
    display: flex;
}
.header_nav_list{
    display: flex;
    column-gap: 30px;
}
.header_nav_list-item{
    background: #363636;
}
.header_nav_list a, .header_link-tel{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #363636;
}
.header_search-but{
    background: transparent;
    border: none;
}
.header_search-input:hover{
    border: 1px solid #005AAB;
}
.header_search-input:active{
    border: 1px solid #005AAB;
}
.header_head3{
    display: flex;
    list-style: none;
    margin-top: 15px;
}
.header_but-favorites, .header_but-basket{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}
.header_but-favorites:hover, .header_but-basket:hover{
    color: #005AAB
}
.header_menu{
    display: flex;
    background: #F1F5F7;
    border-radius: 8px;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    width: 1060px;
}
.header_menu li{
    height: 100%;
    
}
.header_menu-item a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    height: 100%;
    display: flex;
    align-items: center;
}
.header_menu-item a:hover{
    background: #DBEAF8;
}
.header_menu-item a:active{
    background: #99B0C5;
}
.header_menu-item-link{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #005AAB;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-right:15px ;
    padding: 10px;
}
.header_menu-item-link a{
    color: #FFFFFF;
}
.header_menu-item-link:hover{
    background: #198AF0;
}
.header_menu-item-link:active{
    background: #003769;
}
/*___________________________*/
.main_baner h1{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.main_baner{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px; 
}
.small_baner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#363636 ;
    width: 270px;
    height: 360px;
    left: 1305px;
    top: 537px;
    border-radius: 8px;
}
.small_baner-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    color: #FFFFFF;
    margin: 30px 20px  50px;
}
.small_baner_figcap-button{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border-radius: 8px;
    width: 210px;
    height: 48px;
    margin-top: 15px;
}
.small_baner_figcap-button:hover{
    background: #A4D4FF;
}
.small_baner_figcap-button:active{
    background: #3086D5;
}
/*_________________________________*/
.hits h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    align-items: center;
    color: #000000;
    margin-bottom: 15px;
}
.hits_header{
    display: flex;
    justify-content:space-between;
}
.hits-link,.brands_link,.news_link{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #005AAB;
    border: 1px solid #005AAB;
    box-sizing: border-box;
    border-radius: 8px;
    width: 146px;
    height: 45px;
    text-align: center;
    padding: 10px;
}
.hits-link:hover,.brands_link:hover,.news_link:hover{
    border: 1px solid #198AF0;
    color: #198AF0;
}
.hits-link:active,.brands_link:active,.news_link:active{
    border: 1px solid #00305A;
    color: #00305A;
}
.hits_list{
    display: grid;
    grid-template-columns:263px 263px 263px 263px;
    justify-content: space-between;
}
.hits_list_item{
    border: 1px solid #DEDEE2;
    box-sizing: border-box;
    border-radius: 8px;
    width: 270px;
    height: 443px;
}
.hits_list_item:hover{
    border: 1px solid #005AAB;
}
.hits_list_item_link_cont{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.hits_list_item_link_cont_figcap{
    flex-wrap: wrap;
    padding: 0 30px;
}
.hits_list_item_link_cont_figcap-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 50px;
}
.hits_list_item:hover .hits_list_item_link_cont_figcap-text{
    color: #005AAB;
}
.hits_list_item_link_cont_figcap-price span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #7D868F;
}
.hits_list_item_link_cont_figcap-price{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
/*_________________________________*/

.bands_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.brands_name, .news_name, .contacts h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    align-items: center;
    color: #000000;
}
.brands_list{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-row-gap: 15px
    
}
.brands_list-item{
border: solid 1px #DEDEE2;
border-radius: 8px;
text-align: center;
width: 270px;
height: 150px;
align-items: center ;
}
.brands_list-item:hover{
    border: 1px solid #005AAB;
}
.brands_list-item:active{
    border: 1px solid #003769;
}
.brands_list-item img{
    margin-top: 25px;
}
/*_________________________________*/
.news_header{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center;
}
.news_list{
    display: grid;
    grid-template-rows: 170px 170px 170px;
    grid-template-columns: 370px 370px 370px;
    grid-gap: 1vw;
    margin: 0px;
}
.news_list_item-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 30px auto 50px 30px;
}
.news_list_item-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-bottom: 45px;
}
.news_list_item-link{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border-radius: 8px;
    margin-left: 30px;
    padding: 14px 65px;
}
.news_list_item-link:hover{
    background: #A4D4FF;
}
.news_list_item-link:active{
    background: #3086D5;
}
/*_________________________________*/
.adv_ground{
    background: #F1F5F7;
   
}
.advantages{
    background: #F1F5F7;
    padding-top: 60px;
    margin-top: 50px;
}
.advantages h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    align-items: center;
    color: #000000;
    margin-bottom: 35px;
}
.advantages_list{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.advantages_list-item{
    width: 33%;
    padding: 0 10px;
}
.advantages_list_item-name{
margin-top: 30px;
margin-bottom: 25px;
}
.advantages_list_item-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 25px;
}
/*_________________________________*/
.contacts{
    margin-bottom: 50px;
}
.contacts_cont1{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.contacts h2{
    margin-top: 50px;
    margin-bottom: 30px;
}
.contacts_cont{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.contacts-name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.contacts-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.contacts-link{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background: #005AAB;
    border-radius: 8px;
    width: 210px;
    height: 48px;
    padding: 15px;
}
.contacts-link:hover{
    background: #198AF0;
}
.contacts-link:active{
    background: #003769;
}
/*_________________________________*/

.follow_ground{
    background:#F1F5F7 ;
}

.follow{
    background:#F1F5F7 ;
    height: 152px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}
.follow_inp{
    background: #FFFFFF;
    border: 1px solid #DEDEE2;
    box-sizing: border-box;
    border-radius: 8px;
    width: 440px;
    height: 48px;
    text-indent: 10px;
}
.follow_inp:hover{
    border: 1px solid #005AAB;
}
.follow_inp:active{
    border: 1px solid #005AAB;
}
footer .follow button{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background: #005AAB;
    border-radius: 8px;
    width: 210px;
    height: 48px;
    padding: 15px;
    border: none;
}
footer .follow button:hover{
    background: #198AF0;
}
footer .follow button:active{
    background: #003769;
}
 .follow h2{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.follow h3, footer li{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #000000;

}
.follow_cont{
    display: flex;
    
    column-gap: 10px;
}
.main_footer{
    background: #333333;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.main_footer p, .main_footer ul a, .lower_footer{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.mainfooter_cont1 li a:hover, .mainfooter_cont2 li a:hover{
    color: #005AAB;
}
.mainfooter_cont3{
    display: flex;
}
.mainfooter_cont3 li{
    border: 1px solid white;
    border-radius: 8px;
    width: 60px;
    height: 62px;
    margin: 0 6px;
}
.mainfooter_cont3 a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}
.mainfooter_cont3 li a:hover{
    background: white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    
}
.mainfooter_cont3 li a:hover svg path{
     fill: #005AAB;
}

.main_footer h2, .lower_footer h2{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.lower_footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: solid 1px #585858;
    background: #333333;
    color: #FFFFFF;
}

.footer_gound{
    background: #333333;
}

/*Catalog______________________________________________________________*/
.filtr{
    margin-top: 10px ;
}
.filtr fieldset{
border: none;
}
.filtr_price legend, .filtr_screen legend, .filtr_brands legend, .filtr_sim legend{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.place_price{
    display: flex;
    grid-gap: 10px;
    margin-top: 10px;
}
.begin_price, .before_price{
    width: 121px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #DEDEE2;
    text-indent: 10px;
}
.range_wrap{
    padding: 21px 0 25px;
    position: relative;
}
.first_line{
    height: 2px;
    background: #B6BCC2;
    opacity: 0.3;
}
.second-line{
    height: 2px;
    margin-top: -2px;
    background: #005AAB;
    width: 78%;
}
.first-btn, .second-btn{
    height: 12px;
    width: 12px;
    border: none;
    background: #005AAB;
    border-radius: 8px;
    position: absolute;
    margin-top: -7px;
}
.second-btn{
    left: 76%;
}
.filtr_screen select{
    border: 1px solid #DEDEE2;
    width: 270px;
    height: 48px;
    border-radius: 8px;
    background: transparent;
}
.ful_filtr h2, .products h2, .lower_footer h2, .main_footer h2{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.filtr_brands_cont{
    display: flex;
    flex-direction: column;
}
.filtr_brands_cont label, .filtr_screen select, .filtr_sim label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin: 5px 0;
}
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
 /* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  /* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }
  .custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  .custom-checkbox>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }
  .custom-checkbox>input:checked+span::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
  }
  .custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin: 7px 5px;
  }
  .custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }
  /* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  /* стили для радиокнопки, находящейся в фокусе */
  .custom-radio>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .custom-radio>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }
  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio>input:checked+span::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }
  /* стили для радиокнопки, находящейся в состоянии disabled */
  .custom-radio>input:disabled+span::before {
    background-color: #e9ecef;
  }
/*___________________________*/
aside{
    float: left;
    width: 270px;
}
/*___________________________*/
.products{
    overflow: hidden;
}
.products_list{
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 870px;
    justify-content:right;
    margin-left: 10px;
    margin-top: 10px;
}
.products_list li{
    width: 270px;
    height: 443px;
    padding-top: 40px;
    border: 1px solid #DEDEE2;
    box-sizing: border-box;
    border-radius: 8px;
} 
.products_list li:hover{
    border: 1px solid #005AAB;
}
.products_list-item-link_cont_figcap{
    height: 150px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}
.products_list-item-link_figcap-name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    overflow-wrap:break-word ;
}
.products_list li:hover .products_list-item-link_figcap-name{  
    color: #005AAB;
}
.products_list-item-link_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.products_list-item-link_cont img{
    margin: 20px;
}
.products_list-item-link_figcap-price{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    
}
.products_list-item-link_figcap-price span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #7D868F;
}
/*____________________________*/
.bread_crumbs{
    margin-top: 20px;
    margin-bottom: 40px;
}
.bread_crumbs a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #7D868F;
    margin: 20px;
    margin-left: 0;
}
.bread_crumbs h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin-top: 20px;
}
.sort h2{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.sort{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DEDEE2;
}
.sort p:first-of-type{  
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-right: 60px;
}
.sort p:nth-of-type(2){
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7D868F;
}
.sort_list{
    display: flex;
    grid-gap: 0 20px
}
.sort_list-item:first-child{
    margin-left: 20px;
}
.sort_list button{
    background: transparent;
    border: none;
}
.sort_list button:hover{
    color: #005AAB;
}
.pages_nav ul{
    display: flex;
    align-items: center;
}
/*______________________________*/
.pages_nav ul li button:first-of-type, .pages_nav ul li button:last-of-type{
    background: transparent;
    border: none;
}
.pages_nav ul li:nth-of-type(2), .pages_nav ul li:nth-of-type(3), .pages_nav ul li:nth-of-type(4){
    border: 1px solid #DEDEE2;
    border-radius: 4px;
    width: 46px;
    height: 46px;
    text-align: center;
    margin: 10px;
}
.pages_nav ul li:nth-of-type(2):hover, .pages_nav ul li:nth-of-type(3):hover, .pages_nav ul li:nth-of-type(4):hover{
    background: #005AAB;
}
.pages_nav ul li:nth-of-type(2):hover button, .pages_nav ul li:nth-of-type(3):hover button, .pages_nav ul li:nth-of-type(4):hover button{
    color: white;
}
/*______________________Модальные окна________________________________*/
.modal_wrap{
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
      
}
.modal_wrap:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }
.modal h2{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.modal h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: 800px;
    font-size: 28px;
    line-height: 37px;
    align-items: center;
    color: #000000;
    margin-bottom: 15px;
}
.modal{
    display: flex;
    flex-direction: column;
    background: white;
    border: transparent;
    border-radius: 8px;
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 5px 20px 20px 20px;

}
.modal *{
    margin: 10px;
}
.modal input{
    border: 1px solid #DEDEE2;  
    border-radius: 8px;
}
.modal input:first-of-type, .modal input:nth-of-type(2){
    height: 28px;
}
.modal input:nth-of-type(3){
    height: 70px;
}
.close-btn{
    align-self: flex-end;
}
.modal button:nth-of-type(2){
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background: #005AAB;
    border-radius: 8px;
    width: 95%;
    height: 48px;
    padding: 15px;
    border: none;
    align-self: center;
    justify-self: flex-end;
}
.modal button:nth-of-type(2):hover{
    background: #198AF0;
}
.modal button:nth-of-type(2):active{
    background: #003769;
}
.modal button:first-of-type{
    background: none;
    border: none;

}
/*________________Модалка2____________________________*/
.modal2_wrap{
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    /*opacity: 0;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
      
}
.modal2{ 
    display: flex;
    flex-direction: column;
    background: white;
    border: transparent;
    border-radius: 8px;
    position: relative;
    width: 540px;
    height: 260px;
    margin: auto;
    padding: 5px 20px 20px 20px;
}
.modal2_wrap:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}
.modal2 h2{
    text-align: center;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
}
  .modal2-close-btn{
    background: none;
    border: none;
    align-self: flex-end;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
}
.modal2_butoms{
    display: flex;
    align-self: center;
    grid-gap: 20px;
}
.modal2_butoms button{ 
    height: 48px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding: 0 30px;
}
.modal2_butoms button:first-of-type{
    background: #005AAB;
    border-radius: 8px;
    border: none;
    color: white;
}
.modal2_butoms button:nth-of-type(2){
    background: transparent;
    border-radius: 8px;
    border: 1px solid #005AAB;
    color: #005AAB;
    
}