@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #444;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: rgb(179, 131, 226);
  font-size: 10rem;
  text-align: center;
  opacity: 0.4;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

.input::placeholder {
  color: #d5d5d5;
}

.input:focus {
  outline-color: rgb(179, 131, 226);
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}

small {
  color: #b5b5b5;
  margin-top: 3rem;
  text-align: center;
}




/* * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: #f2f2f2;
            font-family: "proxima-soft", san-serif;
            font-size: 14px;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }

        a {
            text-decoration: none;
            font-weight: 600;
            color: #000;
            font-weight: 500;
        }

        .container {
            max-width: 800px;
            min-width: 640px;
            margin: 0 auto;
        }

        header {
            height: 53px;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 50px 0;
        }

        header h1 {
            font-size: 24px;
            font-weight: 400;
            color: #333;
            padding: 0;
            margin: 0 0 15px;
        }

        header span i.fa {
            color: #e74c3c;
        }

        header span {
            font-size: 12px;
            color: #333;
        }

        main {
            display: flex;
        }

        .normal,
        .hover {
            flex: 1;
            padding: 0 25px;
        }

        .demo-title {
            color: #666;
            margin: 0 0 15px;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .module {
            min-width: 270px;
            height: 470px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
            transition: all 0.3s linear 0s;
            overflow: hidden;
            position: relative;
        }

        .module:hover {
            box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
        }

        .thumbnail {
            position: relative;
            overflow: hidden;
            background: black;
        }

        .thumbnail img {
            width: 120%;
            transition: all 0.3s;
        }

        .module:hover .thumbnail img {
            transform: scale(1.1);
            opacity: 0.6;
        }

        .thumbnail .date {
            text-align: center;
            position: absolute;
            top: 20px;
            right: 20px;
            background: #e74c3c;
            padding-top: 10px;
            color: #fff;
            font-weight: bold;
            border-radius: 100%;
            height: 55px;
            width: 55px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 12px;
            text-transform: uppercase;
        }

        .date div:first-child {
            font-size: 18px;
            line-height: 1.2;
        }

        .content {
            position: absolute;
            width: 100%;
            height: 178px;
            bottom: 0;
            background: #fff;
            padding: 30px;
            transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        }

        .module:hover .content {
            height: 278px;
        }

        .content .category {
            position: absolute;
            top: -34px;
            left: 0;
            color: #fff;
            text-transform: uppercase;
            background: #e74c3c;
            padding: 10px 15px;
            font-weight: bold;
        }

        .title {
            margin: 0;
            padding: 0 0 10px;
            color: #333333;
            font-size: 24px;
            font-weight: 700;
        }

        .sub-title {
            margin: 0;
            padding: 0 0 20px;
            color: #e74c3c;
            font-size: 20px;
            font-weight: 400;
        }

        .description {
            color: #666666;
            font-size: 14px;
            line-height: 1.8em;
            height: 0;
            opacity: 1;
            transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
            overflow: hidden;
        }

        .module:hover .description {
            height: 100px;
        }

        .meta {
            margin: 30px 0 0;
            color: #999999;
        }
    */
