@font-face {
    font-family: "Proxima Nova"; 
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
body {
    background: #FFFFFF;
}
body ul{
    list-style: none;
}
body a{
    text-decoration: none;
}
.wrapper{   /*обертка*/
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1120px;
}
/*  __________________________*/
.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #f1f1f1;
}
.header__nav {
    display: flex;
    justify-content: space-between; /*Свойство выравнивает flex-элементы по главной оси flex-контейнера,
                                     распределяя свободное пространство, незанятое flex-элементами.*/
    align-items: center;
}
.header__nav-list {
    display: flex;
    flex: auto; /*Свойство является сокращённой записью свойств flex-grow, flex-shrink и flex-basis.
                 Значение по умолчанию: flex: 0 1 auto;*/
}
.header__nav-list li {
    padding: 0 16px;
    flex: none;
    white-space: nowrap; /*Пробелы не учитываются, переносы строк в коде HTML игнорируются,
                         весь текст отображается одной строкой.*/
}
.header__nav-list li a {
    padding: 26px 0 25px;
    border-bottom: 1px solid transparent;
    color: #333333;
    font: 14px/14px 'Gilroy';
}
.header__nav-list li a:hover {       
    border-bottom-color: #9D7247;
    color: #9D7247;
}
.header__banner{
    background: url("/jewerly/img/baner1.jpg");
    text-align: center;
    padding-top: 41.7%;
}
.header__banner-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.115em;    /*Определяет интервал между символами в пределах элемента.*/
    text-transform: uppercase;
    color: #FCFCFC;
}

.header__banner-title {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    color:#FCFCFC;
    padding: 9px 0 60px;
    margin: 0;
}
.header__banner .btn{
    background-color: transparent;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    margin: 0 20px;
    padding: 18px 24px;
    display: inline-block;
    font: 600 16px/10px 'Gilroy';
}

.header__nav-item a {
    font-family: Gilroy;
    line-height: 150%;
    color: #333333;
}
.header__nav-item a:hover {
    color: #9D7247;
    border-bottom: solid 1px;
}
.header_nav__btn{
    margin-left: 51px;
    position: relative;
    outline: none;                 /*Универсальное свойство, одновременно
                                    устанавливающее цвет, стиль и толщину внешней
                                     границы на всех четырех сторонах элемента.*/
    background-color: transparent;
    border: none;
    padding: 0;
}
.header_nav__btn:first-child {   /*псевдокласс выбирает 1й элемент*/
    margin-left: 0;
}
.header_nav__btn:nth-child(2) {   /*псевдокласс выбирает 2й элемент*/
    margin-left: 24px;
}
.header_nav__btn:nth-child(3) {  /*псевдокласс выбирает 3й элемент*/
    margin-left: 36px;
}
.header_nav__btn-search{
    background: transparent;
    border: none;
    margin-left: 24px;
}
/*  __________________________*/
.filtr_top{
float: left;
}
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
 /* для элемента label, связанного с .custom-checkbox */
 .custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }
  .custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  .custom-checkbox>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }
  .custom-checkbox>input:checked+span::before {
    border-color: #9D7247;
    background-color: #9D7247;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
  }
  .custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }
  /* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  
  /* стили для радиокнопки, находящейся в фокусе */
  .custom-radio>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .custom-radio>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }
  
  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio>input:checked+span::before {
    border-color: #9D7247;
    background-color: #9D7247;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }
  
  /* стили для радиокнопки, находящейся в состоянии disabled */
  .custom-radio>input:disabled+span::before {
    background-color: #e9ecef;
  }
/*  __________________________*/
.main h1{
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    color: #333333;
}
.bread_crumbs{
    margin-top: 20px    ;
}
.main .bread_crumbs a{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    margin-right: 10px;
}
.main__menu{
    width: 263px;
    border: none;
}
.filtr_top{
    width: 263px;
}
.main_menu_list{
    margin-left: -53px;
}
.main_menu_list-item{

}
.main_menu-list-item button{
    font-family: Gilroy;
    width: 263px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    background: #F9F9F9;
    border: 1px solid #F1F1F1;
    cursor: pointer;
    height: 44px;
    text-align: left;
}
.main_menu-list-item button:hover{
    color: #9D7247;
    border-left: 3px solid #9D7247;
}
.filtr_bottom{
    background: #F9F9F9;
}
.filtr_price{

}
.price_legend{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #9D7247;
    background: #F9F9F9;
}
.collection_legend,.material_legend, .sale_legend, .past_legend, .rocks_legend, .clasp_legend, .cover_legend{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
}
.filtr_collection{

}
.collection-item, .material-item{
    font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #333333;

}
.filtr_btn-reset{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #333333;;
    background: none;
    border: none;
    text-align: center;
}
.filtr_btn-reset:hover{
    background: #E97171;
    color: white;
    border-bottom: 2px solid black;
}
.filtr_btn-show{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    background: #E97171;
    color: #FFFFFF;
    border: none;
}   
.filtr_btn-show:hover{
    background: #E97171;
    color: white;
    border-bottom: 2px solid black;
}
/*  __________________________*/
.products{
    
}
.products h2{
    display: none;
}
.btn1{
  margin-left: 335px;  
}
.products-btn{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    align-items: center;
    color: #333333;
    background: none;
    border: none;
}
.products-btn:hover{
    color: #898989;
}
.products_list{
    display: grid;
    grid-template-columns: 263px 263px 263px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
}
.products_list_item_cont_figcap{
    background: #F9F9F9;
    width: 263px;
    height: 127px;
    padding-top: 10px;
}
.products_list_item_link_figcap-name,.products_list_item_cont_figcap-price{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}
.products_list_item{
    transition: transform .1s
}
.products_list_item:hover{
    transform: scale(1.1);
}
.products_list_item_cont_figcap-text{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #898989;
}
.products-btn-showmore{
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 6px;
    background: transparent;
    width: 821px;
    height: 44px;
    margin: 0 auto;
    display: block;
}
.products-btn-showmore:hover{
    background: black;
    color: white;
}
.page__nav{
    width: 520px;
}
.page__nav button{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    background: #F9F9F9;
    border-radius: 4px;
    border: transparent;
    width: 44px;
    height: 44px;
}
.page__nav button:hover{
    background: #9D7247;
    color: white;
}
.page__nav ul{
    display: flex;
    grid-gap: 10px;
}
/*  __________________________*/
.history h2{
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    color: #333333;
}
.history_list{
    display: grid;
    grid-template-columns:263px 263px 263px 263px;
    grid-column-gap: 15px;
}
.history_list_item_link_cont_figcap-name,.history_list_item_link_cont_figcap-price{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}
.history_list_item_link_cont_figcap-text{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #898989;
}
.history_list_item{
    transition: transform .1s;
}
.history_list_item:hover{
    transform: scale(1.1);
}
/*  __________________________*/_


/*  __________________________*/
.page__nav ul{
    display: flex;

}
/*  __________________________*/
footer{
    background: #F9F9F9;
    border: 1px solid #D8D1D1;
}
.footer_links{

}
.footer_links-title, .footer_social-title, .footer_payment-title, .footer_contacts-title{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #333333;
    color: #333333;
}
.footer_links-link{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
}
/*  __________________________*/

.footer_payment-text{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #898989;
}
.footer_contacts-adress,.footer_contacts-tel,.footer_social-text{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    color: #898989;
}
.footer_contacts-btn{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #333333;
    background: transparent;
    border:  none;
}
.lower_footer_list{
    display: flex;
}
.footer_links-link:hover{
    color: #9D7247;
}
.footer_contacts-btn:hover{
    color: #9D7247;
}
.lower_footer_list-link:hover{
    color: #9D7247;
}
.lower_footer_list li:first-of-type{
    display: flex;
    flex-direction: column;
    line-height: 0;
    margin-top: 10px;
}
.lower_footer_list li:first-of-type .lower_footer_list-text{
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.main_socials-item{
    line-height: 5px; 
}
.lower_footer_list-text, .lower_footer_list-link{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    display: flex;
    margin: 40px;
}
.footer_social-list{
    display: flex;
}
.footer_social-item{
    margin: 0px 5px 0px 5px;
}
.footer_wrap{
    display: flex;
}
.footer_wrap2{
    display: flex; 
}fieldset{
    border: none;
}
.settings_price{
    display: flex;
    justify-content: space-between;
}
.price_begin{
    width: 104px;
    height: 32px;
    background: #F1F1F1;
    border-radius: 6px;
    border: none;
}
.price_finish{
    width: 104px;
    height: 32px;
    background: #F1F1F1;
    border-radius: 6px;
    border: none;
}
.colliction_var{
    display: flex;
    flex-direction: column;
}
.range_wrap{
    padding: 21px 0 25px;
    position: relative;
}
.first_line{
    height: 2px;
    background: #9D7247;
    opacity: 0.3;
}
.second-line{
    height: 2px;
    margin-top: -2px;
    background: #9D7247;
    width: 78%;
}
.first-btn, .second-btn{
    height: 12px;
    width: 12px;
    border: 2px solid #9D7247;
    background-color: #fff;
    border-radius: 8px;
    position: absolute;
    margin-top: -9px;
}
.second-btn{
    left: 76%;
}
.filtr_top input{
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #1F1A1A;
}