* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
/*__________________________*/

body {
    line-height: 1; /* межстрочный интервал*/
}

ol, ul {
    list-style: none; /*убирать маркировку*/
}

b, strong {
    font-weight: bold;
}

img {
    border: none; /*без рамки вокруг картинок*/
}

a {
    border: none;   /*без рамки вокруг ссылок*/
    text-decoration: none; /*без подчеркивания ссылок*/
}

a:hover {
    text-decoration: none;  
}

/*__________________________*/

body {
    color: #333333;
    background-color: #F9F9F9;
    font: 16px/1.5 Noto Serif;  /*Размершрифта/межстрочное растояние/шрифт*/
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper{   /*обертка*/
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1120px;
}


.nav_buttons{   /*обертка*/
    display: flex;
    align-items: center; /*Свойство выравнивает flex-элементы, в том числе и анонимные
                         flex-элементы по поперечной оси. Не наследуется.*/
}
.contacts{
    background-image: url(/jewerly/img/Rectangle6.jpg);

}
/*__________________________*/

.header {
    background-color: #FFFFFF;
    border-bottom: 1px #f1f1f1;
    margin-bottom: 20px;
}

.header__nav {
    display: flex;
    justify-content: space-between; /*Свойство выравнивает flex-элементы по главной оси flex-контейнера,
                                     распределяя свободное пространство, незанятое flex-элементами.*/
    align-items: center;
}

.header__nav-list {
    display: flex;
    flex: auto; /*Свойство является сокращённой записью свойств flex-grow, flex-shrink и flex-basis.
                 Значение по умолчанию: flex: 0 1 auto;*/
}

.header__nav-list li {
    padding: 0 16px;
    flex: none;
    white-space: nowrap; /*Пробелы не учитываются, переносы строк в коде HTML игнорируются,
                         весь текст отображается одной строкой.*/
}


.header__nav-list li a {
    padding: 26px 0 25px;
    border-bottom: 1px solid transparent;
    color: #333333;
    font: 14px/14px 'Gilroy';
}

.header__nav-list li a:hover {       
    border-bottom-color: #9D7247;
    color: #9D7247;
}

.header__banner{
    background: url("/jewerly/img/baner1.jpg");
    text-align: center;
    padding-top: 41.7%;
    padding-bottom: 50px;
}


.header__banner-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.115em;    /*Определяет интервал между символами в пределах элемента.*/
    text-transform: uppercase;
    color: #FCFCFC;
}

.header__banner-title {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    color:#FCFCFC;
    padding: 9px 0 60px;
    margin: 0;
}
.header__banner .btn{
    background-color: transparent;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    margin: 0 20px;
    padding: 18px 24px;
    display: inline-block;
    font: 600 16px/10px 'Gilroy';
}
.header__banner .btn:hover{
    background: white;
    color: black;
}
.header__nav-item a {
    font-family: Gilroy;
    line-height: 150%;
    color: #333333;
}

.header__nav-item a:hover {
    color: #9D7247;
    border-bottom: solid 1px;
}

.header_nav__btn{
    margin-left: 51px;
    position: relative;
    outline: none;                 /*Универсальное свойство, одновременно
                                    устанавливающее цвет, стиль и толщину внешней
                                     границы на всех четырех сторонах элемента.*/
    background-color: transparent;
    border: none;
    padding: 0;
}

.header_nav__btn:first-child {   /*псевдокласс выбирает 1й элемент*/
    margin-left: 0;
}

.header_nav__btn:nth-child(2) {   /*псевдокласс выбирает 2й элемент*/
    margin-left: 24px;
}

.header_nav__btn:nth-child(3) {  /*псевдокласс выбирает 3й элемент*/
    margin-left: 36px;
}

.header_nav__btn-search{
    background: transparent;
    border: none;
    margin-left: 24px;
}
/*  __________________________*/
.contacts *{
    color: #FFFFFF;
}
.contacts *{
    padding: 15px 0px 15px 0px;
    margin-top: 20px;
    margin-bottom: 20px
}
.contacts h2{
    display: none;

}
.contacts p:first-of-type{
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.115em;
    text-transform: uppercase;

}
.contacts p:nth-of-type(2){
    font-family: Noto Serif;
    font-style: normal;;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    
}
.contacts p:nth-of-type(3){
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.contacts .btn{
    font: 600 16px/140% 'Noto Serif';
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #333333;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 18px 24px;
    background: #F9F9F9;
    width: 254px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 264px;
    margin: 100px auto; 

}
.contacts .btn:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
}
.category {
    background-color: #F9F9F9;
}
.category h2{
    display: none;
}
.category__btn {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 48px 0 32px 0;
}
.btn-dark {
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 18px 24px;
    border: 1px solid black;
    background-color: #333333;
    color: #FFFFFF;
    transition: transform .1s
}
.btn-dark:hover{
    transform: scale(1.1);
}
.category .btn-light {
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 18px 24px;
    border: 1px solid  black;
    background-color: #FFFFFF;
    color: #333333; 
    transition: transform .1s
}
.category .btn-light:hover{
    background-color: #333333;
    color: #FFFFFF;
    transform: scale(1.1);
}
.category__list__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.category__list__card li {
    list-style: none;
    background: url("/jewerly/img/Rectangle1.jpg");
    height: 280px;

}
.category__list__card li:hover{
    background: linear-gradient(180deg, rgba(51, 51, 51, 0.3) 20.31%, #333333 100%), url("/jewerly/img/Rectangle1.jpg");
}
.category__list__card a {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 222px;
}

.category .subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.115em;
    text-transform: uppercase;
    color: #898989;
}

.category .title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
}

.advantages__list {
     font-family: Gilroy;
     font-style: normal;
     line-height: 150%;
     display: flex;
     justify-content: space-between;
     margin: 50px;
     font-size: 18px;
     flex-direction: row;
 }
 .little_wrapper{
     line-height: 25px;
 }
.advantages h2{
     display: none;
}
.advantages__list h3 {
    color: #333333;
    font-weight: 600;
}

.advantages__list p {
    color: #898989;
    font-weight: 500;
}
/*__________________________*/

.hot .link{
    font: 600 16px/140% 'Noto Serif';
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #333333;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 18px 24px;
    background: #F9F9F9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 264px;
    margin: 20px auto 50px auto;
    border: solid 1px #333333;
}
.hot .link:hover{
    background: black;
    color: white;
    
}
.hot_sale {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #E97171;
    background: none;
    border: none;
    margin-top: 50px;
    margin-left: 20px;
}
.hot_sale:hover {
    color: black;
}
.hot_new {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #333333;
    background: none;
    border: none;
    border-bottom: #333333 2px solid;
    top: 46px;
    width: 163px;
    margin-bottom: 30px;
}
.hot h2{
    display: none; 
  }
  
.hot_list {
    list-style: none;
    font-family: Gilroy;
    font-style: normal;
    line-height: 150%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding: 0;
}


.hot_list a {
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    color: #333333;
}
.hot_list li{
    width: 25%;
    box-sizing: border-box;
    padding: 0 10px 20px;
    transition: transform .1s
}
.hot_list li:hover{
    transform: scale(1.1);
}
.hot_list span {
    font-weight: 500;
    color: #898989;
}
.hot_list figcaption{
    background: #F9F9F9;
    width: 258px;
    padding: 10px 0px 10px 5px;
}

/*__________________________*/



.main_article-title{
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #333333;
    margin-top:10px ;
    margin-bottom: 20px;
}
.main_article-subtitle{
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #898989;
}
.main_article-list{
    display: flex;
    justify-content: space-around;
    margin-bottom:  50px;
}
.main_article-list li{
    width: 356px;
    height: 356px;
    left: 410px;
    top: 3835px;
    transition: transform .1s;
}
.main_article-list li:hover{
    transform: scale(1.05);
}
.main_article-list p{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.main_article-btn{
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 24px;
    background: #333333;
    border: 1px solid #333333;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 264px;
        margin: 30px auto 100px auto
}
.main_article-btn:hover{
    background: transparent;
    color: black;
    border: 1px solid #333333;  
}
/*  __________________________*/
.main_socials{
    margin-bottom: 30px;
}
.main_socials-subtitle{
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.115em;
    text-transform: uppercase;
    color: #898989;
    margin: 10px;
}
.main_socials-title{
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #333333;
    margin-bottom: 30px
}

/*  __________________________*/
footer{

}
.footer_links-link:hover{
    color: #9D7247;
}
.footer_links-title, .footer_social-title, .footer_payment-title, .footer_contacts-title{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #333333;
    color: #333333;
    
}

.footer_links-link{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333333;

}
/*  __________________________*/

.footer_payment-text{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #898989;
}

.footer_contacts-adress,.footer_contacts-tel,.footer_social-text{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    color: #898989;
}
.footer_contacts-btn{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #333333;
    background: transparent;
    border:  none;
}
.footer_contacts-btn:hover{
    color: #9D7247;
}
/*  __________________________*/
.main_socials-list{
    width: 100%;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 0px;
}
.main_socials-list li:first-of-type{
    grid-row: 1 / 3
}
.main_socials-list li:nth-of-type(2){
    grid-row: 1 / 2
}
.main_socials-list li:nth-of-type(3){
    grid-row: 1 / 3
}
.main_socials-list li:nth-of-type(4){
    grid-row: 3 / 4
}
.main_socials-list li:nth-of-type(5){
    grid-row: 2 / 4
}
.main_socials-list li:nth-of-type(6){
    grid-row: 3/4;
}
/*  __________________________*/
.lower_footer_list{
    display: flex;
}
.lower_footer_list li:first-of-type{
    display: flex;
    flex-direction: column;
    line-height: 0;
    margin-top: 10px;
}
.lower_footer_list li:first-of-type .lower_footer_list-text{
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.main_socials-item{
    line-height: 5px; 
}

.lower_footer_list-text, .lower_footer_list-link{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    display: flex;
    margin: 40px;
}
.lower_footer_list-link:hover{
    color: #9D7247;
}
.footer_social-list{
    display: flex;

}
.footer_social-item{
    margin: 0px 5px 0px 5px;
}
.footer_wrap{
display: flex;
}
.footer_wrap2{
    display: flex;
   
}
/*___________________________Catalog___________________________________*/


/*___________________________Modal___________________________________*/
.modal1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: white;
    border: transparent;
    border-radius: 8px;
    position: relative;
    margin:0 auto;
    padding: 5px 20px 20px 20px;
    width: 35%;
    min-height: 664px;
    min-width: 563px;
    
}
.modal1_wrap{
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    /*opacity: 0;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.modal1_wrap:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}
.modal1-btn-close{
    align-self: flex-end ;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 23px;
}
.modal1 h2{
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    display: flex;
    align-items: center;
}
.modal1-text{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #898989;
}
.modal1 p{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
}
.modal1_cont1 input, .modal1_cont2 input, .modal1_cont3 input{
    background: #F9F9F9;
    border: 2px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 6px;
    width: 90%;
height: 44px;
}
.modal1_cont5, 
.modal1_cont6{
    display: flex;
    grid-gap: 20px;
    margin: 10px;
}
.modal1_cont4 input{
    background: #F9F9F9;
border: 2px solid #F1F1F1;
box-sizing: border-box;
border-radius: 6px;
width: 90%;
height: 68px;
}
.modal1_cont1, .modal1_cont2, .modal1_cont3, .modal1_cont4{
    margin: 10px 0px;
}
.modal1 p span{
    color: red;
}
.modal1_cont6 button:first-child{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 24px;
width: 180px;
height: 58px;
background: #333333;
color: white;
font-family: Noto Serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
text-align: center;
letter-spacing: 4px;
text-transform: uppercase;
}
.modal1_cont6 button:first-child:hover{
    background: transparent;
    border: 1px solid black;
    color: black;
}
.modal1_cont6 button:nth-of-type(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 24px;
    width: 180px;
    height: 58px;
    background: transparent;
    border: 1px solid black;

}
.modal1_cont6 button:nth-of-type(2):hover{
    background: #333333;
    color: white;
}
.modal1_cont5 p a{
    color: #9D7247;
}

.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox>p {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox>p::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox>input:not(:disabled):not(:checked)+p:hover::before {
    border-color: #b3d7ff;
  }
  .custom-checkbox>input:not(:disabled):active+p::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  .custom-checkbox>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .custom-checkbox>input:focus:not(:checked)+p::before {
    border-color: #80bdff;
  }
  .custom-checkbox>input:checked+p::before {
    border-color: #9D7247;
    background-color: #9D7247;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox>input:disabled+p::before {
    background-color: #e9ecef;
  }

  .modal2{
    display: flex;
    flex-wrap: wrap;
    background: white;
    border: transparent;
    border-radius: 8px;
    position: relative;
    margin:0 auto;
    padding: 5px 20px 20px 20px;
    width: 100%;
   justify-content: center;
   grid-gap: 10px;
     
  }
  .modal2_wrap{
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    /*opacity: 0;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.modal2 h2{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.modal2 button:nth-of-type(2){
    align-self: inherit;
    background-color: transparent;
    border: none;
}
.modal2 button:nth-of-type(1){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 24px;
    width: 180px;
    height: 58px;
    background: #333333;
    color: white;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 5px;
}
.modal2 input{
    border: none;
    width: 70%;
}